<h4>User registraton</h4>
<p>Please fill in the user registration form below!</p>

<form action='/user' method='post'>
  <label>Your name:</label>
  <input type="text" name="player_name" placeholder="Please enter your name"></br>
  <input type="submit" type="button" class="btn">
</form>
